$primary-color: #63CDDA;
$primary-hover: #138D8D;
$white-color: #FAFCFF;
$black-color: #303952;
$gray-color: #8D8E8F;
$orange-soda-color: #F15843;
$light-gray-color: #D9D9D9;
$anti-flash-white-color: #EDEFF6;
$dark-navy-color: #284B64;
 
// :export {
//   primaryColor: $primary-color;
//   primaryHover: $primary-hover;
// }

:root {
  --primary-color: #{$primary-color};
  --primary-hover: #{$primary-hover};
  --white-color: #{$white-color};
}