$primary-color: #16A7A7;
$primary-hover: #138D8D;
$white-color: #FAFCFF;
$black-color: #212121;
$gray-color: #8D8E8F;
$orange-soda-color: #F15843;
$light-gray-color: #D9D9D9;
$anti-flash-white-color: #EDEFF6;
$dark-navy-color: #284B64;
$black-hover-color: #323232;
$page-title-font-size: 42px;
$desktop-screen-size: 1440px;
$tablet-screen-size: 1024px;
$mobile-screen-size: 600px;

 
// :export {
//   primaryColor: $primary-color;
//   primaryHover: $primary-hover;
//   whiteColor: $white-color;
//   blackColor: $black-color;
//   grayColor: $gray-color;
//   orangeSodaColor: $orange-soda-color;
//   lightGrayColor: $light-gray-color;
//   antiFlashWhiteColor: $anti-flash-white-color;
//   darkNavyColor: $dark-navy-color;
//   blackHoverColor: $black-hover-color;
// }

:root {
  --primary-color: #{$primary-color};
  --primary-hover: #{$primary-hover};
  --white-color: #{$white-color};
}