@use "../../styles/variables" as *;

.heroWrapper {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;

  .heroContainer {
    width: 1100px;
    min-height: 100px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.5s;
    border: 1px solid red;

    .textBlock {
      width: 48%;
      min-height: 100px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      border: 1px solid green;

      .pageTitle {
        font-size: 40px;
        color: $black-color;
        transition: 0.5s;
      }

      .description {
        margin-top: 16px;
        font-size: 20px;
        color: $black-color;
        transition: 0.5s;
      }

      .buttonBox {
        width: 180px;
        height: 55px;
        margin-top: 77px;
      }
    }

    .imageBlock {
      width: 48%;
      min-height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      .imageBox {
        width: 477px;
        height: 426px;
        transition: 0.5s;

        .image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1170px) {
.heroWrapper {
  .heroContainer {
    width: 900px;

    .textBlock {
      .pageTitle {
        font-size: 36px;
      }

      .description {
        font-size: 18px;
      }
    }

    .imageBlock {
      .imageBox {
        width: 400px;
        height: auto;
      }
    }
  }
}

}
