@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.packagesWrapper {
    @include regularBox(100%, unset, 200px, flex, flex-start, center, column);
    transition: 0.5s;
    border: 1px solid #000;
  
    .packagesContainer {
      @include regularBox(1100px, unset, 200px, flex, flex-start, center, column);
      transition: 0.5s;
      padding: 50px 0;
      border: 1px solid red;
    }
}