@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.carouselContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.carouselWrapper {
  width: 500px;
  height: 520px;
  padding-bottom: 5px;
  transition: 0.5s;

  .slide {
    width: 100%;
    height: 120px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
    border-radius: 30px;

    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(99, 205, 218, 0.4) 20%,
      rgba(255, 255, 255, 0.4) 115%
    );

    &:hover {
      background: linear-gradient(
        180deg,
        rgba(19, 193, 216, 0.4) 20%,
        rgba(255, 255, 255, 0.4) 115%
      );
    }

    .slideContent {
      @include regularBox(100%, 100%, unset, flex, space-between, center);
      position: relative;
      overflow: hidden;
      padding: 12px;
      transition: 0.5s;
      text-decoration: none;

      .imageBox {
        width: 200px;
        height: 125px;

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 18px;
        }
      }

      .descriptionBox {
        @include regularBox(
          calc(100% - 220px),
          100%,
          unset,
          flex,
          flex-start,
          flex-start,
          column
        );

        .descTitle {
          width: 100%;
          height: 40px;
          color: $black-color;
          font-size: 16px;
          font-weight: 600;
          white-space: normal;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          line-clamp: 2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .description {
          width: 100%;
          height: 75px;
          color: $black-color;
          margin-top: 10px;
          font-size: 14px;
          white-space: normal;
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          line-clamp: 4;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

.navButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  transition: 0.5s;
  border-radius: 50%;

  .image {
    width: 100%;
    height: 100%;
  }
}

.prev {
  bottom: -60px;
  transform: rotate(90deg);
}

.next {
  top: -60px;
  transform: rotate(270deg);
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 550px) {
  .carouselWrapper {
    width: 380px;

    .slide {
      height: 140px;

      .slideContent {
        .imageBox {
          width: 150px;
          height: 125px;
        }

        .descriptionBox {
          width: calc(100% - 160px);
        }
      }
    }
  }

  .navButton {
    width: 40px;
    height: 40px;
  }

  .prev {
    bottom: -45px;
  }

  .next {
    top: -45px;
  }
}

@media screen and (max-width: 450px) {
  .carouselWrapper {
    width: 330px;
    height: 450px;

    .slide {
      height: 100px;
      .slideContent {
        .imageBox {
          width: 130px;
          height: 100px;

          .image {
            border-radius: 10px;
          }
        }

        .descriptionBox {
          width: calc(100% - 140px);
          margin-top: 7px;

          .descTitle {
            height: 58px;
          }

          .description {
            margin-top: 7px;
            line-clamp: 3;
            -webkit-line-clamp: 3;
          }
        }
      }
    }
  }
}
