@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.choiceContainer {
  @include regularBox(100%, unset, 200px, flex, flex-start, center, column);
  margin-top: 170px;
  margin-bottom: 50px;
  transition: 0.5s;

  .sectionTitle {
    @include textStyle(
      var(--title-h2),
      $black-color,
      bold,
      var(--title-h2-height)
    );
    margin-bottom: 40px;
    transition: 0.5s;
  }

  .choise {
    @include regularBox(100%, unset, 100px, flex, flex-start, center, column);
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 700px) {
  .choiceContainer {
    margin-top: 120px;
  }
}

@media screen and (max-width: 600px) {
  .choiceContainer {
    margin-top: 100px;
  }
}
