@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.choiceContainer {
  @include regularBox(100%, unset, 200px, flex, flex-start, center, column);
  margin: 50px 0;
  transition: 0.5s;
  border: 2px solid green;

  .sectionTitle {
    @include textStyle(
      var(--title-h2),
      $black-color,
      bold,
      var(--title-h2-height)
    );
    margin-bottom: 40px;
  }
}
