@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.textBlock {
  @include regularBox(
    1400px,
    unset,
    50px,
    flex,
    flex-start,
    flex-start,
    column
  );
  margin-bottom: 30px;
  transition: 0.5s;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  .title {
    @include textStyle(16px, $black-color, 600, 24px);
    margin-bottom: 15px;
  }

  .text {
    @include textStyle(16px, $black-color, 300, 24px);
  }

  .listBox {
    margin-top: 5px;
    list-style: none;
    padding-left: 0;
    .listItem {
      @include textStyle(16px, $black-color, 300, 24px);
      margin-bottom: 10px;
      position: relative;
      padding-left: 12px;

      &::before {
        content: "-";
        position: absolute;
        left: 0;
        color: $black-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }

  .bottomText {
    @include textStyle(16px, $black-color, 300, 24px);
    margin-top: 15px;
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1550px) {
  .textBlock {
    width: 1060px;
  }
}

@media screen and (max-width: 1170px) {
  .textBlock {
    width: 820px;
  }
}

@media screen and (max-width: 940px) {
  .textBlock {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .textBlock {
    .title,
    .text, .bottomText {
      font-size: 14px;
      line-height: 22px;
    }

    .listBox {
      .listItem {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 5px;
      }
    }
  }
}
