@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.navigationWrapper {
  @include regularBox(600px, 100%, unset, flex, space-between, center);
  transition: 0.5s;

  .navItem {
    color: $black-color;
    cursor: pointer;

    &:hover .line {
      opacity: 1;
      transform: scale(1);
    }

    .line {
      width: 100%;
      height: 2px;
      margin-top: 5px;
      opacity: 0;
      transition: 0.5s;
      transform: scale(0);
      background-color: $primary-color;
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1170px) {
  .navigationWrapper {
    width: 450px;
  }
}
