@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.PrivacyContainer {
  @include regularBox(100%, unset, 100px, flex, flex-start, center, column);
  padding: 50px 0px;
  transition: 0.5s;

  .pageTitle {
    @include textStyle(
      var(--title-h2),
      $black-color,
      bold,
      var(--title-h2-height)
    );
    text-align: center;
    margin-bottom: 66px;
    transition: 0.5s;
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1170px) {
  .PrivacyContainer {
    padding: 50px;
  }
}

@media screen and (max-width: 940px) {
  .PrivacyContainer {
    padding: 50px 35px;
  }
}

@media screen and (max-width: 500px) {
  .PrivacyContainer {
    padding: 50px 20px;

    .pageTitle {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 400px) {
  .PrivacyContainer {
    padding: 40px 20px;

    .pageTitle {
      margin-bottom: 30px;
    }
  }
}
