@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.changeBlogContainer {
  @include regularBox(100%, 100%, unset, flex, center, flex-start);
  margin-top: 30px;

  .changeBlogContent {
    @include regularBox(
      100%,
      unset,
      100px,
      flex,
      flex-start,
      flex-start,
      column
    );

    .mobileIconsBox {
      @include regularBox(100%, unset, 50px, flex, center, flex-start);
      transition: 0.5s;
      display: none;

      .mobileSocialIcons {
        width: 450px;
        min-height: 100px;
        transition: 0.5s;
      }
    }

    .changeBlogWrapper {
      @include regularBox(100%, 100%, unset, flex, space-between, flex-start);
      padding: 0 50px;
      transition: 0.5s;

      .socialIcons {
        width: 450px;
        min-height: 100px;
      }

      .pageLink {
        @include regularBox(
          142px,
          unset,
          60px,
          flex,
          flex-start,
          flex-start,
          column
        );
        text-decoration: none;
        transition: 0.5s;

        .button {
          border-radius: 20px;
          border: 1px solid $black-color;
          background-color: transparent;
          font-size: 16px;
          font-weight: 400;
          cursor: pointer;
          @include regularBox(100%, 52px, unset, flex, center, center);
        }

        .pageName {
          width: 100%;
          min-height: 20px;
          margin-top: 5px;
          font-size: 16px;
          line-height: 20px;
          font-weight: 200;
          text-align: center;
          color: $black-color;
        }
      }
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1340px) {
  .changeBlogContainer {
    .changeBlogContent {
      .changeBlogWrapper {
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 1340px) {
  .changeBlogContainer {
    .changeBlogContent {
      .changeBlogWrapper {
        padding: 0 50px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .changeBlogContainer {
    .changeBlogContent {
      .mobileIconsBox {
        display: flex;
        .mobileSocialIcons {
          margin-top: 30px;
        }
      }

      .changeBlogWrapper {
        .socialIcons {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .changeBlogContainer {
    .changeBlogContent {
      .mobileIconsBox {
        .mobileSocialIcons {
          width: 375px;
        }
      }

      .changeBlogWrapper {
        padding: 0 30px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .changeBlogContainer {
    .changeBlogContent {
      .mobileIconsBox {
        padding: 0 20px;
        .mobileSocialIcons {
          width: 100%;
        }
      }

      .changeBlogWrapper {
        padding: 0 20px;

        .pageLink {
          width: 120px;

          .pageName {
            font-size: 14px;
          }
        }
      }
    }
  }
}
