// @import "../app/styles/variables.module";
@use "../styles/css-variables.css" as *;
@use "../styles/variables" as *;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white-color;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
