@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footerContainer {
    @include regularBox(100%, unset, 100px, flex, center, center);
    background-color: $black-color;

    .footerContent {
        @include regularBox(600px, unset, 100px, flex, flex-start, center, column);
        padding: 40px;
        border: 1px solid #fff;

        .footerTitle {
            @include textStyle(22px, #fff, 500, 20px);
        }

        .iconsBox {
            @include regularBox(180px, unset, 55px, flex, space-between, center);
            margin-top: 17px;
            margin-bottom: 30px;
        }

        .privacyBlock {
            @include regularBox(320px, 22px, unset, flex, space-between, center);

            .line {
                width: 2px;
                height: 100%;
                border-radius: 50px;
                background-color: #fff;
            }

            .link {
                @include textStyle(18px, #fff, 300, 20px);
                text-decoration: none;
            }
        }

        .copyright {
            @include regularBox(100%, 22px, unset, flex, center, center);
            margin-top: 30px;
            @include textStyle(18px, #fff, 300, 20px);
        }
    }
}