@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.footerContainer {
  @include regularBox(100%, unset, 100px, flex, center, center, column);
  background-color: $black-color;

  .footerContent {
    @include regularBox(420px, unset, 100px, flex, flex-start, center, column);
    padding: 40px;
    transition: 0.5s;

    .footerTitle {
      @include textStyle(22px, #fff, 500, 20px);
    }

    .iconsBox {
      @include regularBox(180px, unset, 55px, flex, space-between, center);
      margin-top: 17px;
      margin-bottom: 30px;

      .socialLink {
        @include regularBox(54px, 54px, unset, flex, center, center);
        text-decoration: none;
        border-radius: 50%;
        transition: 0.5s;
        font-size: 20px;
        border: 1px solid #fdfdfb;
        color: #fdfdfb;

        &:hover {
          border: 1px solid #aeaeac;
          color: #aeaeac;
        }
      }
    }

    .privacyBlock {
      @include regularBox(320px, 22px, unset, flex, space-between, center);
      transition: 0.5s;

      .line {
        width: 2px;
        height: 100%;
        border-radius: 50px;
        background-color: #fff;
      }

      .link {
        @include textStyle(18px, #fdfdfb, 300, 20px);
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          color: #aeaeac;
        }
      }
    }

    .copyright {
      @include regularBox(100%, 22px, unset, flex, center, center);
      margin-top: 30px;
      @include textStyle(18px, #fff, 300, 20px);
      transition: 0.5s;
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 600px) {
  .footerContainer {
    .footerContent {
      padding: 30px;
      padding-bottom: 40px;

      .privacyBlock {
        width: 290px;
        .link {
          font-size: 16px;
        }
      }

      .copyright {
        margin-top: 30px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footerContainer {
    .footerContent {
      width: 100%;
    }
  }
}
