@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.choiceItemContainer {
  @include regularBox(100%, 125px, unset, flex, center, flex-start);
  position: relative;
  margin-bottom: 30px;
  transition: 0.5s;

  .choiceItem {
    border-radius: 20px;
    position: absolute;
    top: 0;
    @include regularBox(53%, 100%, unset, flex, flex-end, center);
    padding: 20px 0;

    .iconBox {
      width: 104px;
      height: 106px;
      transition: 0.5s;

      .icon {
        width: 100%;
        height: 100%;
      }
    }

    .textBox {
      @include regularBox(305px, 100%, unset, flex, center, flex-start, column);
      transition: 0.1s;

      .choiseTitle {
        @include textStyle(20px, $black-color, bold, 20px);
        margin-bottom: 5px;
        transition: 0.5s;
      }

      .choiseDescription {
        @include textStyle(16px, $black-color, 500, 20px);
        transition: 0.5s;
      }
    }
  }

  .problem {
    background: #ffffff;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.39) 0%,
      rgba(243, 166, 131, 0.4) 100%
    );
    left: 0;
    justify-content: flex-end;
    padding-right: 150px;

    .iconBox {
      margin-right: 60px;
    }
  }

  .centerBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: 0.5s;

    .imageBox {
      width: 57px;
      height: 92px;

      .image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .solution {
    background: #63cdda;
    background: linear-gradient(
      90deg,
      rgba(99, 205, 218, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    right: 0;
    z-index: 2;
    justify-content: flex-start;
    padding-left: 150px;

    .iconBox {
      margin-left: 60px;
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1530px) {
  .choiceItemContainer {
    height: 115px;

    .choiceItem {
      width: 54%;
      padding-top: 15px;
      padding-bottom: 15px;

      .iconBox {
        width: 90px;
        height: 92px;
      }

      .textBox {
        width: 250px;

        .choiseTitle {
          font-size: 18px;
        }

        .choiseDescription {
          font-size: 14px;
        }
      }
    }

    .centerBox {
      .imageBox {
        width: 47px;
        height: 82px;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .choiceItemContainer {
    width: 950px;
    height: 100px;
    padding: 0 70px;

    &.showProblem {
      .problem {
        width: 550px;
        .textBox {
          visibility: visible;
          opacity: 1;
          max-width: 305px;
          overflow: unset;
          pointer-events: none;
        }
      }

      .solution {
        .textBox {
          visibility: hidden;
          opacity: 0;
          overflow: hidden;
          pointer-events: auto;
        }
      }
    }

    &.showSolution {
      .problem {
        width: 200px;
        .textBox {
          visibility: hidden;
          opacity: 0;
          max-width: 1px;
          overflow: hidden;
          pointer-events: auto;
        }
      }

      .solution {
        .textBox {
          visibility: visible;
          opacity: 1;
          overflow: unset;
          pointer-events: none;
        }
      }
    }

    .choiceItem {
      padding-top: 15px;
      padding-bottom: 15px;
      transition: all 0.25s ease;
      opacity: 1;
      max-width: 550px;
      overflow: hidden;

      .iconBox {
        width: 60px;
        height: 62px;
      }

      .textBox {
        width: unset;
        max-width: 310px;

        .choiseTitle {
          font-size: 16px;
        }

        .choiseDescription {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    .centerBox {
      display: none;
    }

    .problem {
      left: 60px;
      padding-right: 30px;
      justify-content: flex-start;
      flex-direction: row-reverse;
      z-index: 5;

      .iconBox {
        margin-right: 0;
        margin-left: 25px;
      }
    }

    .solution {
      right: unset;
      padding-right: 30px;
      padding-left: 30px;
      justify-content: flex-end;
      background: linear-gradient(
        270deg,
        rgba(99, 205, 218, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );

      .iconBox {
        margin-left: 35px;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .choiceItemContainer {
    width: 700px;
    padding: 0;

    &.showProblem {
      .problem {
        width: 450px;
      }
    }

    &.showSolution {
      .problem {
        width: 130px;
      }
    }

    .choiceItem {
      padding: 12px 24px;
      max-width: 430px;

      .iconBox {
        width: 45px;
        height: 47px;
      }

      .textBox {
        max-width: 250px;

        .choiseTitle {
          font-size: 15px;
        }

        .choiseDescription {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }

    .problem {
      left: 90px;
    }

    .solution {
      left: 230px;
    }
  }
}

@media screen and (max-width: 730px) {
  .choiceItemContainer {
    width: 550px;
    height: 120px;

    &.showProblem {
      .problem {
        width: 380px;
        .textBox {
          max-width: 250px;
        }
      }
    }

    &.showSolution {
      .problem {
        width: 130px;
      }
    }

    .choiceItem {
      max-width: 430px;

      .iconBox {
        width: 50px;
        height: 52px;
      }
    }

    .problem {
      left: 50px;
    }

    .solution {
      width: 350px;
      left: 180px;

      .textBox {
        width: 230px;
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .choiceItemContainer {
    width: 400px;
    height: 100px;

    &.showProblem {
      .problem {
        width: 350px;
      }
    }

    &.showSolution {
      .problem {
        width: 120px;
      }
    }

    .choiceItem {
      .iconBox {
        width: 40px;
        height: 42px;
        margin-left: 15px;
      }

      .textBox {
        .choiseTitle {
          font-size: 14px;
        }

        .choiseDescription {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    .problem {
      left: -20px;
      width: 300px;

      .textBox {
        width: 230px;
      }
    }

    .solution {
      width: 300px;
      left: 100px;

      .textBox {
        width: 230px;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .choiceItemContainer {
    width: 330px;
    height: 110px;

    &.showProblem {
      .problem {
        width: 290px;
      }
    }

    &.showSolution {
      .problem {
        width: 100px;
      }
    }

    .choiceItem {
      .iconBox {
        width: 35px;
        height: 37px;
      }

      .textBox {
        .choiseTitle {
          font-size: 13px;
        }

        .choiseDescription {
          font-size: 11px;
          line-height: 14px;
        }
      }
    }

    .problem {
      left: -30px;
      width: 290px;

      .textBox {
        width: 160px;
      }
    }

    .solution {
      width: 270px;
      left: 60px;

      .textBox {
        width: 160px;
      }
    }
  }
}
