@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.choiceItemContainer {
  @include regularBox(100%, 125px, unset, flex, center, flex-start);
  position: relative;
  margin-bottom: 30px;
  transition: 0.5s;

  .choiceItem {
    border-radius: 20px;
    position: absolute;
    top: 0;
    @include regularBox(53%, 100%, unset, flex, flex-end, center);
    padding: 20px 0;
    transition: 0.5s;
    border: 1px solid #000;

    .iconBox {
      width: 104px;
      height: 106px;
      transition: 0.5s;

      .icon {
        width: 100%;
        height: 100%;
      }
    }

    .textBox {
      @include regularBox(305px, 100%, unset, flex, center, flex-start, column);
      transition: 0.5s;

      .choiseTitle {
        @include textStyle(20px, $black-color, bold, 20px);
        margin-bottom: 5px;
        transition: 0.5s;
      }

      .choiseDescription {
        @include textStyle(16px, $black-color, 500, 20px);
        transition: 0.5s;
      }
    }
  }

  .problem {
    background: #ffffff;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.39) 0%,
      rgba(243, 166, 131, 0.4) 100%
    );
    left: 0;
    justify-content: flex-end;
    padding-right: 150px;

    .iconBox {
      margin-right: 60px;
    }
  }

  .centerBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: 0.5s;

    .imageBox {
      width: 57px;
      height: 92px;

      .image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .solution {
    background: #63cdda;
    background: linear-gradient(
      90deg,
      rgba(99, 205, 218, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    right: 0;
    z-index: 2;
    justify-content: flex-start;
    padding-left: 150px;

    .iconBox {
      margin-left: 60px;
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1530px) {
  .choiceItemContainer {
    height: 115px;
    .choiceItem {
      width: 54%;
      padding-top: 15px;
      padding-bottom: 15px;

      .iconBox {
        width: 90px;
        height: 92px;
      }

      .textBox {
        width: 250px;
        .choiseTitle {
          font-size: 18px;
        }
        .choiseDescription {
          font-size: 14px;
        }
      }
    }

    .centerBox {
      .imageBox {
        width: 47px;
        height: 82px;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .choiceItemContainer {
    height: 100px;
    padding: 0 100px;

    .choiceItem {
      padding-top: 15px;
      padding-bottom: 15px;
      

      .iconBox {
        width: 60px;
        height: 62px;
      }

      // .textBox {
      //   width: 250px;
      //   .choiseTitle {
      //     font-size: 18px;
      //   }
      //   .choiseDescription {
      //     font-size: 14px;
      //   }
      // }
    }

    .centerBox {
      display: none;
    }

    .problem {
      width: 600px;
      left: 160px;
      padding-right: 30px;
      justify-content: flex-start;
      flex-direction: row-reverse;
      z-index: 5;

      .iconBox {
        margin-right: 0;
      }
    }

    .solution {
      width: 600px;
      right: 0px;
      left: 280px;     
      padding-right: 30px;
      padding-left: 30px;
      justify-content: flex-end;
      background: linear-gradient(
        270deg,
        rgba(99, 205, 218, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
      );   
      
      .textBox {
        opacity: 0;
      }
    }
  }

  .hideProblem {
    width: 200px;
  }
}
