@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.buttonWrapper {
    @include regularBox(100%, 100%, unset, flex, center, center);
    font-size: inherit;
}

.button {
    background-color: $primary-color;
    border-radius: 54px;
    border: none;
    font-size: inherit;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    @include regularBox(100%, 100%, unset, flex, center, center);

    &:hover {
        background-color: $primary-hover-color;
    }
}

.blackColor {
    color: $black-color;

    &:hover {
        color: white;
    }
}