@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.cardWrapper {
  width: 240px;
  height: 150px;
  background: linear-gradient(
    180deg,
    rgba(99, 205, 218, 0.4) 20%,
    rgba(255, 255, 255, 0.4) 115%
  );
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.5s;
  margin-bottom: 5px;

  .cardTitle {
    font-size: 16px;
    color: $black-color;
    margin-bottom: 6px;
    transition: 0.5s;
    font-weight: bold;
    padding-left: 10px;
  }

  .list {
    width: 100%;
    min-height: 20px;
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 11px;

    .listItem {
      width: 100%;
      min-height: 16px;
      margin-bottom: 2px;
      color: $black-color;
      transition: 0.5s;
      font-size: 14px;
      line-height: 18px;

      &::marker {
        font-size: 8px;
      }
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 600px) {
  .cardWrapper {
    width: 175px;
    padding-top: 12px;
    margin-bottom: 5px;

    .cardTitle {
      font-size: 12px;
      margin-bottom: 6px;
      padding-left: 10px;
    }

    .list {
      width: 100%;
      min-height: 20px;
      list-style-position: outside;
      list-style-type: disc;
      padding-left: 11px;
  
      .listItem {
        margin-bottom: 2px;
        font-size: 10px;
        line-height: 14px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .cardWrapper {
    width: 165px;
    padding-top: 12px;
    margin-bottom: 5px;

    .cardTitle {
      font-size: 11px;
    }
  }
}