@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.blogContainer {
  margin-top: 60px;
  @include regularBox(100%, unset, 200px, flex, flex-start, center, column);
  border: 1px solid #000;

  .pageTitle {
    @include textStyle(
      var(--title-h2),
      $black-color,
      700,
      var(--title-h2-height)
    );
    margin-bottom: 10px;
    transition: 0.5s;
  }

  .description {
    width: 840px;
    min-height: 20px;
    @include textStyle(16px, $black-color, 300, 24px);
    text-align: center;
    transition: 0.5s;
    border: 1px solid #000;
  }

  .colorsBlogContent {
    width: 1170px;
    height: 640px;
    margin-top: 50px;
    margin-bottom: 95px;
    border-radius: 33px;
    border: 3px solid $black-color;
    background-image: url("/images/blog/blog-primary-pic.webp");
    background-repeat: no-repeat;
    position: relative;
    transition: 0.5s;

    .colorsBlogInfo {
      position: absolute;
      top: 55px;
      right: 65px;
      @include regularBox(
        350px,
        520px,
        unset,
        flex,
        flex-start,
        flex-start,
        column
      );
      transition: 0.5s;
      border: 1px solid red;

      .infoTitle {
        @include textStyle(80px, $black-color, 500, 75px);
        background: linear-gradient(
          to bottom,
          rgba(48, 57, 82, 1) 0%,
          rgba(121, 139, 160, 1) 100%
        );

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 35px;
        transition: 0.5s;
      }

      .infoDescription {
        width: 100%;
        min-height: 30px;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        color: $black-color;
        margin-bottom: 30px;
      }

      .readingButton {
        padding: 12px 30px;
        background-color: $black-color;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        transition: 0.5s;
        border-radius: 6px;
        text-decoration: none;
        cursor: pointer;
        @include regularBox(max-content, 62px, unset, flex, center, center);

        &:hover {
          background-color: #798ba0;
        }
      }
    }

    .mobileBlogInfo {
      width: 100%;
      height: 175px;
      position: absolute;
      top: 500px;
      padding: 30px;
      padding-top: 0;
      display: none;
      transition: 0.5s;
      border: 1px solid green;
    }
  }
}

/* <---------------------------------  Media  --------------------------------> */

@media screen and (max-width: 1250px) {
  .blogContainer {
    .colorsBlogContent {
      width: 950px;
      height: 489px;
      background-size: 94%;

      .colorsBlogInfo {
        width: 315px;
        height: 430px;
        top: 40px;
        right: 35px;

        .infoTitle {
          font-size: 54px;
          line-height: 52px;
          margin-bottom: 25px;
        }

        .infoDescription {
          font-size: 16px;
          margin-bottom: 20px;
        }

        .readingButton {
          height: 54px;
          font-size: 18px;
          padding: 12px 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .blogContainer {
    padding: 0 30px;

    .description {
      width: 100%;
    }

    .colorsBlogContent {
      width: 700px;
      height: 338px;
      background-size: 88%;

      .colorsBlogInfo {
        width: 270px;
        height: 305px;
        top: 20px;
        right: 25px;

        .infoTitle {
          font-size: 40px;
          line-height: 44px;
          margin-bottom: 10px;
        }

        .infoDescription {
          font-size: 14px;
          line-height: 22px;
          margin-bottom: 15px;
        }

        .readingButton {
          height: 48px;
          font-size: 16px;
          padding: 10px 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .blogContainer {
    .colorsBlogContent {
      width: 500px;
      height: 700px;
      // background-size: 88%;
      background-image: url("/images/blog/mobile-blog-primary-pic.webp");
      background-position: 30px 30px;

      .colorsBlogInfo {
        height: 75px;
        width: 240px;
        top: 11%;
        left: 50%;
        right: unset;
        transform: translate(-50%, -50%);

        .infoTitle {
          font-size: 34px;
          line-height: 34px;
          margin-bottom: 10px;
          text-align: center;
          color: white;
          background: unset;
          -webkit-text-fill-color: unset;
          margin-bottom: 0;
        }

        .infoDescription {
          display: none;
        }

        .readingButton {
          display: none;
        }
      }

      .mobileBlogInfo {
        display: flex;
        flex-direction: column;

        .mobileInfoTitle {
          margin-bottom: 15px;
        }

        .readMoreBox {
          width: 100%;
          height: 80px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-top: 15px;
          border: 1px solid red;

          .uploadTime {
            font-size: 14px;
            color: #424242;
          }

          .readMoreBtn {
            color: #fff;
            background-color: $primary-color;
            border: unset;
            border-radius: 30px;
            padding: 12px 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .blogContainer {
    .colorsBlogContent {
      width: 380px;
      background-position: 15px 15px;
      background-size: 92%;

      .mobileBlogInfo {
        top: 380px;
      }
    }
  }
}
